body {
  font-family:"Helvetica";
  font-size:15px;
  margin: 0;
  height: 100%;
}
h1 {
  font-size: 35px;
}
h4 {
  font-size: 25px;
}
p {
  color: gray;
  font-size: 25px;
}

nav{
  display: inline-block;
  margin-left: 35%;
}

#logo_area {
    background-color: white;
    display: inline-block;
}
#banner {
    background-color: red;
    height: 5%;
    padding: 10.1em;
    text-align: center;

}
#about {
    background-color: white;
    text-align: center;
    height: 5%;
    padding: 5.5em;
}
#contact {
    background-color: white;
    text-align: center;
    height: 5%;
    padding: 3.1em;
}
#footer {
  color: white;
  background-color: black;
  text-align: center;
  height: 5%;
  padding: 0.3em;
}
li {
    display: inline;
}
ul {
    list-style-type: none;
    float: right;
    display: inline-block;
    font-size: 20px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gray;
}
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
}
